.faq-container {
    gap: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    background-color: #f8f8f8;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  }
  
  .faq-header {
    font-size: 2em;
    font-weight: bold;
    color: #ff6600;
    background-color: #fff;
    padding: 10px 20px;
    border-radius:  16px;
    text-shadow: 0px 4px 4px rgba(240, 240, 240, 0.5);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .faq-questions {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
    max-width: 800px;
  }
  
  .faq-item {
    display: flex;
    flex-direction: column;
  }
  
  .faq-question {
    background-color: #fff;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    cursor: pointer;
  }

  
  .faq-answer {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-size: 0.9em;
    color: #666;
  }


  
  
  