/* Modo Claro por defecto */
:root {
  --bg-color: #ffffff;
  --text-color: #111827;
  --nav-bg: #ffffff;
  --nav-text: #111827;
  --card-bg: #f4f4f4;
  --primary-color: #ff7200;
}

/*Modo Oscuro*/
[data-theme="dark"] {
  --bg-color: #121212;
  --text-color: #ffffff;
  --nav-bg: #1f1f1f;
  --nav-text: #ffffff;
  --card-bg: #2a2a2a;
  --primary-color: #ff9100;
}

/* Animation for smooth change */
* {
  transition: background-color 0.25s ease, color 0.25s ease;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
