@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
}

#root, #root > div {
    height: 100%;
}

.admin-page {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100%;
    background-color: #F5A762;
}

.sidebar {
    width: 100%;
    background-color: #252424;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: 100%;
}

.logo-container {
    padding: 0 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
    margin-left: -20px;
}

.logo {
    width: 90px;
    height: 80px;
}

.logo-container h2 {
    font-size: 22px;
    margin: 0;
    color: #F27F1A;
}

.menu {
    width: 100%;
    margin-top: 20px;
}

.menu-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px 10px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    transition: all 0.3s;
    text-decoration: none;
}

.menu-item i {
    font-size: 20px;
}

.menu-item:hover {
    color: #F5A762;
}

.menu-item:not(:last-child) {
    margin-bottom: 20px;
}

.back-button {
    margin-top: auto;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    transition: all 0.3s;
}

.back-button:hover {
    color: #F5A762;
}
